<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <h1>Practice filtering from Geeksforgeeks</h1>

      <h3>Name: {{name}}</h3>
      <h3>Age: {{age}}</h3>

      <!-- fitering start -->
      <!-- add -->
      <h5>Using add: {{ age | add:"3" }}</h5>

      <!-- addslashes -->
      <h5>Using addslashes: {{ quato | addslashes }}</h5>

      <!-- capfirst -->
      {% for course in courses %}
            <h5>Using capfirst: {{ course.name | capfirst }}</h5>
      {% endfor %}

      <!-- center -->
      <h5>Using center: {{ name | center:"10"}}</h5>

      <!-- cut -->
      <h5>Using cut: {{ sentence | cut:" "}}</h5>

      <!-- date -->
      <h5>Using date: {{ date | date:"D d M Y"}}</h5>

      <!-- default -->
      <h5>Using default: {{ empty | default:"nothing"}}</h5>


      <h3>Using dictsort: </h3>
      {% for course in courses|dictsort:"length" %}
            <!-- dictsort -->
            <h5>course name: {{course.name}}</h5>
      {% endfor %}

      <!-- divisibley -->
      <h5>Using divisibleby the age is: {{ age | divisibleby:"3"}}</h5>

      <h5>escape is used for changing HTML string</h5>
      <h5>filesize format is used in file size to convert filesize to 'human-readable' file size</h5>

      <!-- first -->
      <h5>Using first: {{ numbers | first }}</h5>

      <!-- join -->
      <h5>Using join: {{ numbers | join:"-" }}</h5>

      <!-- last -->
      <h5>Using last: {{ numbers | last }}</h5>

      <!-- length -->
      <h5>Using length: {{ numbers | length }}</h5>

      <!-- linenumbers -->
      <h5>Using linenumbers: {{ sentence | linenumbers }}</h5>

      <!-- lower -->
      <h5>Using lower: {{ sentence | lower }}</h5>

      <!-- make_list -->
      <h5>Using make_list: {{ name | make_list }}</h5>

      <!-- random -->
      <h5>Using random: {{numbers | random}}</h5>

      <!-- slice -->
      <h5>Using slice: {{numbers | slice:"1:3"}}</h5>

      <!-- slugify -->
      <h5>Using slugify: {{sentence | slugify}}</h5>

      <!-- time -->
      <h5>Using time: {{date | time:"H:i:s"}}</h5>

      <!-- timesince -->
      <h5>Using timesince: {{date | timesince}}</h5>

      <!-- title -->
      <h5>Using title: {{sentence | title}}</h5>

      <!-- unordered_list -->
      <h5>Using unordered_list: {{name | unordered_list}}</h5>

      <!-- upper -->
      <h5>Using upper: {{name | upper}}</h5>

      <!-- wordcount -->
      <h5>Using wordcount: {{sentence | wordcount}}</h5>


      <h2>Complete of practice Geeksforgeeks</h2>

      



</body>
</html>