{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<form method="POST" style="width: 60%; margin: auto;">
      <h2>Login Page</h2><br>
      {% csrf_token %}
      <!-- {{form | crispy}} -->
      {% for fm in form %}
      {{fm.label_tag}} {{fm}} 
      {% if fm.errors %}
      {{fm.errors | striptags}}
      <br>
      {% endif %}
      {% endfor %}
      <button class="btn btn-primary mt-4 mb-2" type="submit">Login</button><br>
      <small>Don't have any account? </small> <a href="{% url 'signup' %}">Sign Up</a>
</form>
{% endblock %}